<configuration>
<property>
 <name>dfs.replication</name>
 <value>1</value>
</property>

<property>
  <name>dfs.namenode.name.dir</name>
  <value>/opt/{{ hadoop_version }}/hdfs/namenode</value>
</property>

<property>
  <name>dfs.datanode.data.dir</name>
  <value>/opt/{{ hadoop_version }}/hdfs/datanode</value>
</property>
</configuration>